.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    background-color: black;
}

.circle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: scale-in-center;
}

.scale-in-center {
	-webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
/* .circle {
    background-color: white;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
} */

.fusion {
    font-family: Epsonik;
    color: black;
}

@font-face {
    font-family: Epsonik;
    src: url(src/assets/fonts/epstonik/Epstonik.ttf);
}

.inspiration {
    margin-right: 50px;
    font-family: Epsonik;
    color: white;
}

.excelence {
    margin-left: 50px;
    font-family: Epsonik;
    color: white;
}