@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:50px auto; }

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.contact-details {
    width: 50%;
}

.contact-box {
    display: flex;
    flex-direction: column;
}

.cont-title {
  color: #f75023;
}

.cont {
  color: white;

}

.location-icon {
    height: 60px;
}

.form-container {
    display: flex;
}

.contact-box {
    height: 100px;
    padding: 20px;
    margin-top: 10%;
}

.feedback-input {
  color:white;
  font-family: Jost;
  font-size: 23px;
  border-radius: 12px;
  line-height: 22px;
  background-color: transparent;
  border:0.5px solid #b9b5c9;
  transition: all 0s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  outline:0;
}

.feedback-input:focus { border:2px solid #f75023; }

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: Jost;
  width: 100%;
  background:#f75023;
  border-radius:5px;
  border:0;
  cursor: pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0s;
  margin-top:-4px;
}
[type="submit"]:hover { background:#f75023; }