.my-stack-container {
    padding-top: 10%;
}

.tech-list-container {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.tech-list {
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.item-container {
    margin: auto;
}

.item {
    font-family: monospace;
    font-size: medium;
    text-decoration: none;
    color: white;
    text-align: center;
}

.icon {
    display: flex;
    height: 60px;
    align-items: center;
}