html, body {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #2b2d33;
}


.cursor {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.inner {
  border: 3px solid white;
  transition: 250ms ease-out;
}

.cursor.hover {
  transform: translate(-50%, -50%) scale(4);
  transition: transform 250ms ease-in-out;
}